# COMMIT and ROLLBACK

In MySQL, COMMIT and ROLLBACK are commands used to manage transactions, which are sequences of SQL statements that are executed as a single unit. Transactions are essential for maintaining the integrity and consistency of a database. Let's explore both commands in detail:

# COMMIT

Purpose: 

The COMMIT command is used to save all changes made during the current transaction to the database. Once a COMMIT is executed, the changes become permanent and visible to other users.

Usage: 

Typically used at the end of a successful transaction to finalize the operations.

Example:

START TRANSACTION;

-- Perform some operations
INSERT INTO employees (employee_id, name) VALUES (1rohit kumarDoe');
UPDATE employees SET namerohit tyagi Doe' WHERE employee_id = 1;

-- Commit the transaction to save the changes
COMMIT;

In this example, the INSERT and UPDATE operations are performed within a transaction. The COMMIT command ensures that both operations are saved permanently in the database.

# ROLLBACK

Purpose: The ROLLBACK command is used to undo all changes made during the current transaction. When a ROLLBACK is executed, the database is returned to its state before the transaction began.



Usage: Typically used when an error occurs during a transaction or when the operations performed need to be discarded for any reason.

Example:

START TRANSACTION;

-- Perform some operations

INSERT INTO employees (employee_id, name) VALUES (1, 'rohit kumar');
UPDATE employees SET name = 'rohit tyagi' WHERE employee_id = 1;

-- An error is detected, so rollback the transaction


ROLLBACK;

# Lets create a database and table

CREATE DATABASE commit_rollback;

USE commit_rollback;

CREATE TABLE employee (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    city VARCHAR(50)
);

INSERT INTO employee (first_name, last_name, city)
VALUES 
('Rahul', 'Kuamr', 'Delhi'),
('Sachin', 'Tyagi', 'Noida'),
('Vishal', 'Garg', 'Ghaziabad'),
('Rohit', 'Kumar', 'Pune'),
('Nitin', 'Agrarwal', 'Banglore');

# ROLLBACK

In above table you have to make changes that
where id =1 you have to set name Aditya,
but by mistake you forgot where id = 1 and updated Aditya in entire column.
now you can roll back to previous stage.

START TRANSACTION;

select * from employee;

UPDATE employee SET first_name = 'Aditya';


Select * from employee;


ROLLBACK;


Select * from employee;

# COMMIT

The COMMIT command is used to save all changes made during the current transaction to the database. Once a COMMIT is executed, the changes become permanent

In [ ]:
START TRANSACTION;

select * from employee;

UPDATE employee SET first_name = 'Aditya';


Select * from employee;

commit;


ROLLBACK;


Select * from employee;

This time above roll back will not work because you have run commit before rollback.

Another example:

in delete command you forgot to mention where id = 1.

and you deleted entire data now we can use rollback.

START TRANSACTION;

SELECT * from employee;

Delete from employee;

SELECT * from employee;

ROLLBACK;

SELECT * from employee;

# Difference between Delete and Truncate ?

We can roll back the data from delete but not from Truncate

# below command will not roll back data 
START TRANSACTION;

SELECT * from employee;

TRUNCATE employee;

SELECT * from employee;

ROLLBACK;

SELECT * from employee;

As per the MySQL documentation, TRUNCATE works by DROPping the table and re-creating it as blank, which is apparently faster than deleting rows one by one. Then, it causes an implicit commit, thus it cannot rolled back.

# Save Point

-- Use the commit_rollback database
USE commit_rollback;

-- Start the transaction
START TRANSACTION;

-- Perform the first operation
INSERT INTO employee (first_name, last_name, city) VALUES ('Alice', 'Johnson', 'San Francisco');

-- Set the first savepoint
SAVEPOINT first_savepoint;

-- Perform the second operation
INSERT INTO employee (first_name, last_name, city) VALUES ('Bob', 'Smith', 'Dallas');

-- Set the second savepoint
SAVEPOINT second_savepoint;

-- Perform an update operation

UPDATE employee SET city = 'Austin' WHERE first_name = 'John';

-- Check for conditions to rollback to the first savepoint

-- Rollback to the first savepoint if necessary

ROLLBACK TO SAVEPOINT first_savepoint;

-- Otherwise, commit the transaction if everything is fine
-- COMMIT;