# DDL Command of MYSQL

create DATABASE my_database;

use my_database;

CREATE TABLE my_table(
id INT AUTO_INCREMENT PRIMARY KEY,
name VARCHAR(100) Not NULL,
age int NOT NULL,
created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

ALTER TABLE:

This command is used to modify an existing table structure.

Add a new column

In [ ]:

ALTER TABLE my_table ADD COLUMN email VARCHAR(100);

Modify an existing column

In [ ]:
ALTER TABLE my_table MODIFY COLUMN name VARCHAR(150) NOT NULL;

Change a column name and type

In [ ]:
ALTER TABLE my_table CHANGE COLUMN email email_address VARCHAR(200);

Drop a column

In [ ]:
ALTER TABLE my_table DROP COLUMN age;

Add a primary key (if not already defined)

In [ ]:
ALTER TABLE my_table ADD PRIMARY KEY (id);

Add a foreign key

Assuming there is another table another_table with a column another_id:

ALTER TABLE my_table ADD COLUMN another_id INT;
ALTER TABLE my_table ADD CONSTRAINT fk_another_id FOREIGN KEY (another_id) REFERENCES another_table(another_id);

RENAME TABLE

In [ ]:
RENAME TABLE my_table TO my_new_table;

DROP TABLE

This command deletes an existing table and all of its data.

In [ ]:
DROP TABLE my_new_table;

TRUNCATE TABLE

This command removes all rows from a table but does not delete the table structure.

In [ ]:
TRUNCATE TABLE my_table;

CREATE INDEX

This command creates an index on one or more columns of a table to improve query performance.

Single-column index

In [ ]:
CREATE INDEX idx_name ON my_table (name);

Multi-column index

CREATE INDEX idx_name_created_at ON my_table (name, created_at);

DROP INDEX

This command removes an existing index.

In [ ]:
DROP INDEX idx_name ON my_table;

CREATE VIEW

This command creates a virtual table based on the result set of an SQL query.

CREATE VIEW my_view AS
SELECT name, created_at
FROM my_table
WHERE created_at > '2024-01-01';

DROP VIEW

This command removes an existing view.

DROP VIEW my_view;

# Complete Example Sequence

-- Create a new database
CREATE DATABASE my_database;

-- Use the created database
USE my_database;

-- Create a new table
CREATE TABLE my_table (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    age INT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Alter the table to add a new column
ALTER TABLE my_table ADD COLUMN email VARCHAR(100);

-- Modify an existing column
ALTER TABLE my_table MODIFY COLUMN name VARCHAR(150) NOT NULL;

-- Change a column name and type
ALTER TABLE my_table CHANGE COLUMN email email_address VARCHAR(200);

-- Drop a column
ALTER TABLE my_table DROP COLUMN age;

-- Rename the table
RENAME TABLE my_table TO my_new_table;

-- Create an index
CREATE INDEX idx_name ON my_new_table (name);

-- Drop the index
DROP INDEX idx_name ON my_new_table;

-- Create a view
CREATE VIEW my_view AS
SELECT name, created_at
FROM my_new_table
WHERE created_at > '2024-01-01';

-- Drop the view
DROP VIEW my_view;

-- Truncate the table
TRUNCATE TABLE my_new_table;

-- Drop the table
DROP TABLE my_new_table;

-- Drop the database
DROP DATABASE my_database;