In [1]:
# pip install mysql-connector-python
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         user='root',
                                         password='admin')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  8.0.37
You're connected to database:  (None,)
MySQL connection is closed

In [2]:
# connecting to specific database in our case we are connecting to rohit_database
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost', user='root', password='admin',
                                     port='3306', database='rohit_database',auth_plugin='mysql_native_password')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  8.0.37
You're connected to database:  ('rohit_database',)
MySQL connection is closed

# With TKinter

In [13]:
import tkinter as tk
from tkinter import *
from tkinter import ttk
import mysql.connector

root = Tk()
root.geometry("380x600")
root.title("Rohit Application")
root.minsize(380,400)

connection = mysql.connector.connect(host='localhost', user='root', password='admin',
                                     port='3306', database='rohit_database',auth_plugin='mysql_native_password')
c = connection.cursor()

bkg = "#00FFFF"


frame = tk.Frame(root, bg=bkg)

label_firstname = tk.Label(frame, text="Your First Name: ", font=('verdana',12), bg=bkg)
entry_firstname = tk.Entry(frame, font=('verdana',12))

label_lastname = tk.Label(frame, text="Your Last Name: ", font=('verdana',12), bg=bkg)
entry_lastname = tk.Entry(frame, font=('verdana',12))

label_email = tk.Label(frame, text="Your Email: ", font=('verdana',12), bg=bkg)
entry_email = tk.Entry(frame, font=('verdana',12))

label_age = tk.Label(frame, text="your Age: ", font=('verdana',12), bg=bkg)
entry_age = tk.Entry(frame, font=('verdana',12))


def insertData():
    firstname = entry_firstname.get()
    lastname = entry_lastname.get()
    email = entry_email.get()
    age = entry_age.get()

    insert_query = "INSERT INTO rohit_database_table (firstname, lastname, email, age) VALUES (%s,%s,%s,%s)"
    vals = (firstname,lastname,email,age)
    c.execute(insert_query,vals)
    connection.commit()


button_insert = tk.Button(frame, text="Insert", font=('verdana',14), bg='#7FFF00',
                          command = insertData)

label_firstname.grid(row=0, column=0)
entry_firstname.grid(row=0, column=1, pady=10, padx=10)

label_lastname.grid(row=1, column=0)
entry_lastname.grid(row=1, column=1, pady=10, padx=10)

label_email.grid(row=2, column=0, sticky='e')
entry_email.grid(row=2, column=1, pady=10, padx=10)

label_age.grid(row=3, column=0, sticky='e')
entry_age.grid(row=3, column=1, pady=10, padx=10)

button_insert.grid(row=4,column=0, columnspan=2, pady=250, padx=100, sticky='nsew')

frame.grid(row=0, column=0)


root.mainloop()

In [4]:
# to execute above query you need to choose create a database rohit_database
# and a table rohit_database_table
# with firstname lastname email age

# Without_tkinter()

In [1]:
import mysql.connector

# Database connection
connection = mysql.connector.connect(
    host='localhost', 
    user='root', 
    password='admin',
    port='3306', 
    database='rohit_database', 
    auth_plugin='mysql_native_password'
)
c = connection.cursor()

# Function to insert data into the database
def insertData(firstname, lastname, email, age):
    insert_query = "INSERT INTO rohit_database_table (firstname, lastname, email, age) VALUES (%s, %s, %s, %s)"
    vals = (firstname, lastname, email, age)
    c.execute(insert_query, vals)
    connection.commit()
    print("Data inserted successfully.")

# Example usage
firstname = input("Enter your first name: ")
lastname = input("Enter your last name: ")
email = input("Enter your email: ")
age = input("Enter your age: ")

insertData(firstname, lastname, email, age)

# Close the connection
connection.close()

Enter your first name:  Amit
Enter your last name:  Tyagi
Enter your email:  rkt@gmail.com
Enter your age:  56

Data inserted successfully.

# multiple records in one go

In [3]:
import mysql.connector

# Database connection
connection = mysql.connector.connect(
    host='localhost', 
    user='root', 
    password='admin',
    port='3306', 
    database='rohit_database', 
    auth_plugin='mysql_native_password'
)
c = connection.cursor()

# Function to insert data into the database
def insertData(firstname, lastname, email, age):
    insert_query = "INSERT INTO rohit_database_table (firstname, lastname, email, age) VALUES (%s, %s, %s, %s)"
    vals = (firstname, lastname, email, age)
    c.execute(insert_query, vals)
    connection.commit()
    print(f"Data inserted successfully for {firstname} {lastname}.")

# Insert four records directly
records = [
    ("sachin", "kumar", "sachin.kumar@example.com", 25),
    ("rahul", "tyagi", "rahul.tyagi@example.com", 30),
    ("shail", "sharma", "shahil.sharma@example.com", 22),
    ("nitin", "kumar", "nitin.kumar@example.com", 28)
]

for record in records:
    insertData(*record)

# Close the connection
connection.close()

Data inserted successfully for sachin kumar.
Data inserted successfully for rahul tyagi.
Data inserted successfully for shail sharma.
Data inserted successfully for nitin kumar.

# 1.Create databse using python

In [4]:
import mysql.connector

# Connect to MySQL server
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    port="3306"
)

cursor = connection.cursor()

# SQL query to create a database
create_database_query = "CREATE DATABASE rohit_database2"

try:
    # Execute the query
    cursor.execute(create_database_query)
    print("Database 'rohit_database' created successfully.")
except mysql.connector.Error as err:
    print(f"Error: {err}")

# Close the connection
cursor.close()
connection.close()

Database 'rohit_database' created successfully.

# 2. create database and table together

In [6]:
import mysql.connector

# Connect to MySQL server
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    port="3306"
)

cursor = connection.cursor()

# Step 1: Create the database
create_database_query = "CREATE DATABASE IF NOT EXISTS rohit_database3"
try:
    cursor.execute(create_database_query)
    print("Database 'rohit_database3' created or already exists.")
except mysql.connector.Error as err:
    print(f"Error creating database: {err}")

# Step 2: Connect to the created database
connection.database = "rohit_database3"

# Step 3: Create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS rohit_table3 (
    name VARCHAR(100),
    lastname VARCHAR(100),
    course VARCHAR(100),
    city VARCHAR(100)
)
"""
try:
    cursor.execute(create_table_query)
    print("Table 'rohit_table3' created successfully.")
except mysql.connector.Error as err:
    print(f"Error creating table: {err}")

# Close the connection
cursor.close()
connection.close()

Database 'rohit_database3' created or already exists.
Table 'rohit_table3' created successfully.

# 3. creating a database and and table and inserting the recods

In [9]:
import mysql.connector

# Connect to MySQL server
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    port="3306"
)

cursor = connection.cursor()

# Step 1: Create the database
create_database_query = "CREATE DATABASE IF NOT EXISTS rohit_database"
try:
    cursor.execute(create_database_query)
    print("Database 'rohit_database' created or already exists.")
except mysql.connector.Error as err:
    print(f"Error creating database: {err}")

# Step 2: Connect to the created database
connection.database = "rohit_database"

# Step 3: Create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS rohit_table (
    name VARCHAR(100),
    lastname VARCHAR(100),
    course VARCHAR(100),
    city VARCHAR(100)
)
"""
try:
    cursor.execute(create_table_query)
    print("Table 'rohit_table' created successfully.")
except mysql.connector.Error as err:
    print(f"Error creating table: {err}")

# Step 4: Insert three records into the table
insert_query = """
INSERT INTO rohit_table (name, lastname, course, city) VALUES (%s, %s, %s, %s)
"""
records = [
    ("John", "Doe", "Computer Science", "New York"),
    ("Jane", "Smith", "Mathematics", "Los Angeles"),
    ("Robert", "Brown", "Physics", "Chicago")
]

try:
    cursor.executemany(insert_query, records)
    connection.commit()
    print("3 records inserted successfully into 'rohit_table'.")
except mysql.connector.Error as err:
    print(f"Error inserting records: {err}")

# Close the connection
cursor.close()
connection.close()

Database 'rohit_database' created or already exists.
Table 'rohit_table' created successfully.
3 records inserted successfully into 'rohit_table'.